@{
    Layout = null;
}

<div class="tab-content" style="padding-top: 66px;" ng-init="flag=true">
    <div ng-repeat="page in movies.pages" id="{{ page.name }}" ng-class="{'tab-pane fade in active': selectedMenu==page.name, 'tab-pane fade': $index > 0  }" ng-if="selectedMenu==page.name" ng-init="sectionIndex = $index" page-infinite-scroll="sectionManage(sectionIndex)">
        <div ng-repeat="pageSection in page.sections" ng-class="swiper-container-horizontal">
            <div class="owl-carousel" carousel ng-if="pageSection.sectionType == 'imagesribbon'" ng-mouseover="test()">
                <carousel-item ng-repeat="image in pageSection.sectionImagesRibbon" class="item sliderImage">
                    <div id="sliderImage">
                        <a href="{{image.image}}"><img ng-src="{{image.thumnail}}" alt="" /></a>
                    </div>
                </carousel-item>
            </div>
            <!-- <div class="swiper-container" ng-if="pageSection.sectionType == 'imagesribbon'">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" ng-repeat="image in pageSection.sectionImagesRibbon">
                        <div id="sliderImage">
                            <a href="{{image.image}}"><img ng-src="{{image.thumnail}}" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div> -->
            <div ng-if="pageSection.sectionType == 'textheader'" class="header" style="margin-top: 5px;" ng-swipe-left="pageManage(flag,movies.pages[sectionIndex + 1].name,sectionIndex)" ng-swipe-right="pageManage(flag,movies.pages[sectionIndex - 1].name,sectionIndex)">
                <p>
                    <b><a style="color: white;" href="javascript:void(0)" ng-click="linkAction(pageSection.sectionName)">{{ pageSection.sectionName }}</a></b>
                    <br />
                    <a style="color: white;" href="javascript:void(0)" ng-click="linkAction(pageSection.sectionNameSub)">{{ pageSection.sectionNameSub }}</a>
                </p>
            </div>

            <div ng-if="pageSection.sectionType == 'textblock'" id="discription" style="padding: 7px;" ng-swipe-left="pageManage(flag,movies.pages[sectionIndex + 1].name,sectionIndex)" ng-swipe-right="pageManage(flag,movies.pages[sectionIndex - 1].name,sectionIndex)">
                <p>
                    {{ pageSection.sectionText }} <a href="https://en.wikipedia.org/wiki/{{ movies.name }} " target="_self" ">Wikipedia</a>
                    <div ng-if="pageSection.sectionFact !==undefined">
                        <span ng-repeat="fact in pageSection.sectionFact">
                            <text>{{ fact.fact }}:</text>
                            <span ng-repeat="tag in fact.tag">
                                <a href="javascript:void(0)" ng-click="linkAction(tag)">{{ tag }}</a>{{$last ? '' : ', '}}
                            </span>
                            <br />
                        </span>
                    </div>
                </p>
            </div>

            <div ng-if="pageSection.sectionType == 'textlist'" id="discription" style="padding: 7px;" ng-swipe-left="pageManage(flag,movies.pages[sectionIndex + 1].name,sectionIndex)" ng-swipe-right="pageManage(flag,movies.pages[sectionIndex - 1].name,sectionIndex)">
                <div id="reviews_details" style="border: none;">
                    <small><b>{{ pageSection.sectionName }}</b></small>
                    <br />
                    <div ng-repeat="textItem in pageSection.sectionTextList" style="font-size: 10px; margin-top: 10px;">
                        <div style="overflow: auto;">
                            <div style="float: left;"><a href="javascript:void(0)" ng-click="linkAction(textItem.link)"><img ng-src="{{textItem.image}}" alt="" style="height: 66.14px; width: 90px;" /></a></div>
                            <div style="margin-left: 100px;">
                                <p style="font-size: 10px; padding: 0px; margin: 0px;">{{ textItem.text | limitTo: 140 }}{{textItem.text.length > 140 ? '...' : ''}}</p>
                                <p style="font-size: 10px; padding: 0px; margin-top: 5px;"><a href="javascript:void(0)" ng-click="linkAction(textItem.link)">{{textItem.title}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="pageSection.sectionType == 'imagesscroll'" style="padding: 7px; vertical-align:top;">
                <small><b>{{ pageSection.sectionName | limitTo: 60 }}{{pageSection.sectionName.length > 60 ? '...' : ''}}</b></small>
                <div class="owl-carousel character_wrapper" carousel>
                    <carousel-item ng-repeat="image in pageSection.sectionImagesScroll" class="swiper-slide" style="width:90px; vertical-align:top;" class="item">
                        <div id="characterCard" style="text-align: center; vertical-align:top;">
                            <a href="javascript:void(0)" ng-click="linkAction(image.link)"><img ng-src="{{image.image}}" alt="" style="height: 66.14px; width: 90px;" /></a>
                            <p style="font-size: 8px; margin-top: 10px;">
                                {{ image.title | limitTo: 20 }}{{image.title.length > 20 ? '...' : ''}}
                                <br />
                                {{image.titleSub}}
                            </p>
                        </div>
                    </carousel-item>
                </div>
                <!-- <div class="swiper-container">
                    <small><b>{{ pageSection.sectionName | limitTo: 60 }}{{pageSection.sectionName.length > 60 ? '...' : ''}}</b></small>
                    <div class="swiper-wrapper character_wrapper">
                        <div ng-repeat="image in pageSection.sectionImagesScroll" class="swiper-slide" style="width:90px; vertical-align:top;">
                            <div id="characterCard" style="text-align: center; vertical-align:top;">
                                <a href="javascript:void(0)" ng-click="linkAction(image.link)"><img ng-src="{{image.image}}" alt="" style="height: 66.14px; width: 90px;" /></a>
                                <p style="font-size: 8px; margin-top: 10px;">
                                    {{ image.title | limitTo: 20 }}{{image.title.length > 20 ? '...' : ''}}
                                    <br />
                                    {{image.titleSub}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>

            <table ng-if="pageSection.sectionType == 'imageslist'" style="margin-top: 5px; font-size: 12px;" ng-swipe-left="pageManage(flag,movies.pages[sectionIndex + 1].name,sectionIndex)" ng-swipe-right="pageManage(flag,movies.pages[sectionIndex - 1].name,sectionIndex)">
                <tbody style="width: 100%">
                    <tr ng-repeat="sdil in pageSection.sectionImagesList" ng-switch on="$index % 3">
                        <td ng-switch-when="0" style="width: 33.33%; padding-top: 20px;">
                            <div style="text-align: center;">
                                <a href="javascript:void(0)" ng-click="linkAction(pageSection.sectionImagesList[$index].link)">
                                    <img ng-src="{{ pageSection.sectionImagesList[$index].image }}" alt="" style="width: 164px; height: 86px;" />
                                    <p>{{ pageSection.sectionImagesList[$index].title | limitTo: 20 }}{{pageSection.sectionImagesList[$index].title.length > 20 ? '...' : ''}}</p>
                                    <p>{{ pageSection.sectionImagesList[$index].titleSub }}</p>
                                </a>
                            </div>
                        </td>
                        <td ng-switch-when="0" style="width: 33.33%; padding-top: 20px;">
                            <div style="text-align: center;" ng-show="pageSection.sectionImagesList[$index+1]">
                                <a href="javascript:void(0)" ng-click="linkAction(pageSection.sectionImagesList[$index+1].link)">
                                    <img ng-src="{{ pageSection.sectionImagesList[$index+1].image }}" alt="" style="width: 164px; height: 86px;" />
                                    <p>{{ pageSection.sectionImagesList[$index+1].title | limitTo: 20 }}{{pageSection.sectionImagesList[$index+1].title.length > 20 ? '...' : ''}}</p>
                                    <p>{{ pageSection.sectionImagesList[$index+1].titleSub }}</p>
                                </a>
                            </div>
                        </td>
                        <td ng-switch-when="0" style="width: 33.33%; padding-top: 20px;">
                            <div style="text-align: center;" ng-show="pageSection.sectionImagesList[$index+2]">
                                <a href="javascript:void(0)" ng-click="linkAction(pageSection.sectionImagesList[$index+2].link)">
                                    <img ng-src="{{ pageSection.sectionImagesList[$index+2].image }}" alt="" style="width: 164px; height: 86px;" />
                                    <p>{{ pageSection.sectionImagesList[$index+2].title | limitTo: 20 }}{{pageSection.sectionImagesList[$index+2].title.length > 20 ? '...' : ''}}</p>
                                    <p>{{ pageSection.sectionImagesList[$index+2].titleSub }}</p>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="owl-carousel" carousel ng-if="pageSection.sectionType == 'videosribbon'">
                <carousel-item ng-repeat="video in pageSection.sectionVideosRibbon" class="item">
                    <div style="text-align: left; font-size:x-small;width: 260px">
                        <a href="https://www.youtube.com/watch?v={{video.video}}">
                            <img ng-src="{{video.thumnail}}" alt="" />
                            <br />{{ video.title | limitTo: 40 }}{{video.title.length > 40 ? '...' : ''}}
                        </a>
                        <br />{{video.channel}}
                    </div>
                </carousel-item>
            </div>
            <div ng-if="pageSection.sectionType == 'video'" id="video" style="padding: 7px;" ng-swipe-left="pageManage(flag,movies.pages[sectionIndex + 1].name,sectionIndex)" ng-swipe-right="pageManage(flag,movies.pages[sectionIndex - 1].name,sectionIndex)">
                <div style="padding: 7px; border: none;" ng-repeat="video in pageSection.sectionVideosRibbon">
                    <youtube-video video-id="video.video"></youtube-video>
                    <!-- <div style="min-height: 200px; width: 100%; border:1px; border-color: black; background-color: gray;">{{video.title}} - {{video.video}}</div> -->
                    <!-- https://github.com/brandly/angular-youtube-embed -->
                </div>
            </div>
        </div>
        <div id="bottomAnchor" ng-style="{ 'height': '40px', 'line-height': '40px', 'text-align': 'center', 'visibility': page.loadingSections || page.sectionsLoaded ? 'visible' : 'hidden' }">
            <span ng-if="page.loadingSections">Loading...</span>
            <span ng-if="page.sectionsLoaded">No further data</span>
        </div>
    </div>
</div>
